.popup-container {
    width: 700px; 
}

#table {
    width: 100%;
    height: 400px;
    overflow: auto;
    display: block;
    margin: 5px;
}

#table table tr th, #table table tr td {
    white-space: nowrap;
}